@import 'tailwindcss';
@plugin "daisyui";
@plugin "daisyui" {
	themes:
		cmyk --default,
		sunset --prefersdark;
}

.btn-lg {
	min-height: 4rem;
	height: 4rem;
	min-width: 4rem;
	width: 4rem;
	font-size: 2rem;
}
